<div class="ui-fluid">
    <div class="card ui-g">
        <div class="ui-g-12">
          <div class="ui-g-1">
            <button type="button" pButton class="ui-button-danger float-left" icon="pi pi-arrow-left" 
                    label="Volver"></button>
          </div>
          <h2> Editar Dominio</h2>
          <section class="ui-g-12 ui-fluid form-create" *ngIf="this.cliente">
             <app-cliente-form [clienteData]="this.cliente" [newCliente]="false"></app-cliente-form>
          </section>
        </div>
      </div>
    </div>
  
